

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.w-80{
    width: 80%;
}
.container-lg{
    width: 100%;
    margin:auto;
    height: 80px;
}
.container{
    width: 80%;
    max-width: 1400px;
    margin:auto;
}
.container2{
    width: 80%;
    margin:auto;
    background-color: #e0ddf0;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-1{
    width: calc((100% / 12)*1);
}
.col-2{
    width: calc((100% / 12)*2);
}
.col-3{
    width: calc((100% / 12)*3);
}
.col-4{
    width: calc((100% / 12)*4);
}
.col-5{
    width: calc((100% / 12)*5);
}
.col-6{
    width: calc((100% / 12)*6);
}
.col-7{
    width: calc((100% / 12)*7);
}
.col-8{
    width: calc((100% / 12)*8);
}
.col-9{
    width: calc((100% / 12)*9);
}
.col-10{
    width: calc((100% / 12)*10);
}
.col-11{
    width: calc((100% / 12)*11);
}
.col-12{
    width:100%;
}


.debug{
    border: 1px dashed black;
}

.ttl{
    font-size: 50px;
    color: #ff9614;
    margin: 0.5rem;
}
main{
    background-color: #f6f5f3;
}
.sweet{
    padding: 0.5rem;
}
.cake{
    padding: 0.5rem;
    font-size: 55px;
}
.checked {
    color: #ff9614;
  }
  .rate{
    color: black;
    display: inline-block;
    font-size: 20px;
  }
  .fa{
    font: normal normal normal 20px / 1 FontAwesome;
    font-size: 20px;
    align-content: flex-end;
    padding-bottom: 0.5rem;
}
  .bbl{
    background-color: #ff9614;
    margin: 0.5rem;
    padding: 0.6rem 1rem;
    color: #ffffff;
    border-radius: 20px;
    font-size: 14px;
  }
  .bbl2{
    background-color: #7b69a2;
    margin: 0.5rem;
    padding: 0.6rem 1rem;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
  }

  .bbl3{
    background-color: white;
    margin: 0.5rem;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    color: black;
    box-shadow: 0px 0.5px grey;
    cursor: pointer;
  }
  div.d-flex.justify-content-between.kcal{
    align-items: center;
    background-color: #e0ddf0;
    margin: 1rem;
    border-bottom: 1px solid lightblue;
    
}
  .info{
    font-size: 20px;
    color: #ff9614;
  }
  ul{
    list-style: none;
    margin: 1rem 3rem;
  }
  li{
    margin: 0.5rem;
  }
  
  div.col-4{
    background-color: white;
  }
  .socials{
    margin-top: 2.5rem;
    display: flex;
    justify-content:center;
  }
  a{
    text-decoration: none;
  }
  footer{
    background-color: #7c69a4;
  }
  .banner{
    margin-top: 2rem;
  }
  .description{
    margin: 1rem;
  }
  
  .m-top{
    margin-top: 1rem;
  }
  .w-30{
    width: 30%;
  }
  .legend{
    margin-left: 0.5rem;
  }
  .cpyright{
    color: white;
    padding: 0.5rem;
  }
    footer a{
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem;
  }

  @media screen and (max-width:1024px) {
    
    
    body{
        padding: 15px;
    }
    header h1{
        font-size:24px;
    }
    .sweet{
        font-size: 18px;
    }
    .cake{
        font-size: 24px;
    }
    iframe{
        display: block;
    }
    .ricept{
        display: flex;
        flex-direction:row;
        align-items: center;
        font-size: 16px;
    }
    .ytb{
        width: 100%;
    }
    .txt{
        display: none;
    }
    .col-sm-12{
        width: 100%;
    }
    
    .f-direction{
        flex-direction: column;
    }
    .txt2{
        font-size: 14px;
        }
    .cpyright{
        font-size: 14px;
    }
    footer{
        text-align: center;
        height: 100px;
    }
  }
  @media screen and (max-width:480px) {
    body{
        padding:10px;
    }

    header h1{
        text-align: center;
        font-size: 24px;
    }
    .sweet{
        font-size: 10px;
        text-align: left;
    }
    .ricept{
        display: flex;
        flex-direction:column;
        align-items:flex-start;
        font-size: 14px;
    }
    .banner{
        display: none;
    }
    .w-50{
        width: 50%;
        text-align: center;
    }
    .legend{
        vertical-align: middle;
    }
    .txt2{
    font-size: 10px;
    }
.cpyright{
    font-size: 10px;
}
footer{
    text-align: center;
}
}
